* {
    font-size: 1.5rem;
    font-family: "Liberation serif", "Times New Roman", Times, serif;
    color: white;
}

html {
    font-size: 1rem;
}

body {
    background-color: black;
}

button,
input,
select {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 8px;
    padding: 8px;
    margin: 8px;
    text-align: center;
}

button:hover {
    cursor: pointer;
}

select {
    -webkit-appearance: none;
    appearance: none;
    padding-right: 32px;
}

select:disabled {
    padding-right: 8px;
}

.select-wrapper {
    position: relative;
    display: inline-block;
}

.select-wrapper[disabled="false"]::after {
    content: "⛛";
    font-size: 0.6rem;
    top: 22px;
    right: 20px;
    position: absolute;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fullscreen {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"] {
    width: 3rem;
}

.circle {
    border-radius: 50%;
    width: calc(1.5rem + 20px);
    height: calc(1.5rem + 20px);
    display: inline-block;

    border: 2px solid white;

    margin-left: 8px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
}

*[draggable="true"] {
    cursor: grab;
}
