* {
    font-size: x-large;
    font-family: "Liberation serif", "Times New Roman", Times, serif;
    color: white;
}

body {
    background-color: black;
}

button,
input,
select {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 8px;
    padding: 8px;
    margin: 8px;
    text-align: center;
}

button:hover {
    cursor: pointer;
}

select {
    -webkit-appearance: none;
    appearance: none;
    padding-right: 32px;
}

.select-wrapper {
    position: relative;
    display: inline-block;
}

.select-wrapper::after {
    content: "⛛";
    font-size: 0.6rem;
    top: 22px;
    right: 20px;
    position: absolute;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fullscreen {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
